<div class="page-content-inner">



    <h2>Account</h2>

    <nav class="responsive-tab mb-4">
        <li class="uk-active"><a href="user-profile.html#">Account</a></li>
        <li><a href="user-profile.html#">Billing</a></li>
        <li><a href="user-profile-edit.html">Setting</a></li>
    </nav>

    <div uk-grid>
        <div class="uk-width-2-5@m">

            <div class="uk-card-default rounded text-center p-4">

                <div class="user-profile-photo  m-auto">
                    <img src="../../../../assets/images/avatars/{{clientes['FOTO']}}" alt="Sin imagen">
                </div>

                <h4 class="mb-2 mt-3"> {{clientes['NOMBRE']}} </h4>
                <p class="m-0"> Member since Sep 23 2017 </p>

            </div>

            <div class="uk-card-default rounded mt-5">
                <div class="uk-flex uk-flex-between uk-flex-middle py-3 px-4">
                    <h5 class="mb-0"> Progress </h5>
                    <a href="user-profile.html#"> more </a>
                </div>
                <hr class="m-0">
                <div class="p-3">

                    <div class="uk-grid-small uk-flex-middle" uk-grid>

                        <div class="uk-width-auto">
                            <button type="button" class="btn btn-danger btn-icon-only">
                                <span class="d-flex justify-content-center">
                           <i class="icon-brand-angular icon-small"></i>
                                </span>
                              </button>
                        </div>
                        <div class="uk-width-expand">
                            <h5 class="mb-2"> Angular </h5>
                            <div class="course-progressbar">
                                <div class="course-progressbar-filler" style="width:100%"></div>
                            </div>
                        </div>

                    </div>

                    <div class="uk-grid-small uk-flex-middle" uk-grid>

                        <div class="uk-width-auto">
                            <button type="button" class="btn btn-warning btn-icon-only">
                                <span class="d-flex justify-content-center">
                                    <i class="icon-brand-html5 icon-small"></i>
                                </span>
                              </button>
                        </div>
                        <div class="uk-width-expand">
                            <h5 class="mb-2"> html5 </h5>
                            <div class="course-progressbar">
                                <div class="course-progressbar-filler" style="width:35%"></div>
                            </div>
                        </div>

                    </div>

                    <div class="uk-grid-small uk-flex-middle" uk-grid>

                        <div class="uk-width-auto">
                            <button type="button" class="btn btn-primary btn-icon-only">
                                <span class="d-flex justify-content-center">
                                    <i class="icon-brand-css3-alt icon-small"></i>
                                </span>
                              </button>
                        </div>
                        <div class="uk-width-expand">
                            <h5 class="mb-2"> css3 </h5>
                            <div class="course-progressbar">
                                <div class="course-progressbar-filler" style="width:65%"></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <div class="uk-width-expand@m">

            <div class="uk-card-default rounded">
                <div class="uk-flex uk-flex-between uk-flex-middle py-3 px-4">
                    <h5 class="mb-0"> Account details </h5>
                    <a href="#" uk-tooltip="title:Editar Usuario; pos: left" [routerLink]="['/admin/usuario-setting', clientes['ID_USUARIO']]"> <i class="icon-feather-settings"></i> </a>
                </div>
                <hr class="m-0">
                <div class="uk-child-width-1-2@s uk-grid-small p-4" uk-grid>

                    <div>
                        <h6 class="uk-text-bold"> Apellido Paterno </h6>
                        <p> {{clientes['APELLIDO_PATR']}} </p>
                    </div>
                    <div>
                        <h6 class="uk-text-bold"> Apellido Materno </h6>
                        <p> {{clientes['APELLIDO_MAT']}} </p>
                    </div>
                    <div>
                        <h6 class="uk-text-bold"> Nikname </h6>
                        <p> {{clientes['NIKNAME']}} </p>
                    </div>
                    <div>
                        <h6 class="uk-text-bold"> Email </h6>
                        <p> {{clientes['EMAIL']}} </p>
                    </div>
                    <div>
                        <h6 class="uk-text-bold"> Telefono / Celular </h6>
                        <p> {{clientes['TELEFONO']}} </p>
                    </div>
                    <div>
                        <h6 class="uk-text-bold"> DNI </h6>
                        <p> {{clientes['DNI']}} </p>
                    </div>
                    <div>
                        <h6 class="uk-text-bold"> Fecha de Nacimiento </h6>
                        <p> {{clientes['FECHA_NAC']| date: 'dd-MM-yyyy'}} </p>
                    </div>
                    <div>
                        <h6 class="uk-text-bold"> Formacion </h6>
                        <p> {{clientes['FORMACION']}} </p>
                    </div>
                    <div>
                        <h6 class="uk-text-bold"> Genero </h6>
                        <p> {{clientes['SEXO']}} </p>
                    </div>


                </div>
            </div>

            <!--  FALTA FOTO y DISEÑO

                
            <div class="uk-card-default rounded mt-4">
                <div class="uk-flex uk-flex-between uk-flex-middle py-3 px-4">
                    <h5 class="mb-0"> Billing address </h5>
                    <a href="user-profile.html#" uk-tooltip="title: Edit Billing address; pos: left"> <i class="icon-feather-settings"></i> </a>
                </div>
                <hr class="m-0">
                <div class="uk-child-width-1-2@s uk-grid-small p-4" uk-grid>
                    <div>
                        <h6 class="uk-text-bold"> Number </h6>
                        <p> 23, Block C2 </p>
                    </div>
                    <div>
                        <h6 class="uk-text-bold"> Street </h6>
                        <p> Church Street </p>
                    </div>
                    <div>
                        <h6 class="uk-text-bold"> City </h6>
                        <p> Los Angeles </p>
                    </div>
                    <div>
                        <h6 class="uk-text-bold"> Postal Code </h6>
                        <p> 100065 </p>
                    </div>
                    <div>
                        <h6 class="uk-text-bold"> State </h6>
                        <p> CA </p>
                    </div>
                    <div>
                        <h6 class="uk-text-bold"> Country </h6>
                        <p> United States </p>
                    </div>

                </div>
            </div> -->

        </div>
    </div>


</div>